<header class="gameheadertimerdown-top-hud">
  <nav class="gameheadertimerdown-top-nav">
    <div class="gameheadertimerdown-nav-left">
      <a href="settings.html" class="gameheadertimerdown-button">Give Up</a>
      <a href="#" id="endEarlyBtn" onclick="endEarly()" class="gameheadertimerdown-button">End Early</a>
    </div>
    <div class="gameheadertimerdown-nav-center">
      <a href="#" id="gameheadertimerdown-pauseButton" class="gameheadertimerdown-button" onclick="togglePause()">Pause</a>
    </div>
    <div class="gameheadertimerdown-nav-right">
      <div id="gameheadertimerdown-remainingTimer">
        <span class="gameheadertimerdown-timer-label">Time Left:</span>
        <span id="gameheadertimerdown-timer">00</span>
      </div>
    </div>
  </nav>
</header>
