<header class="gameheadertimerdown-top-hud">
  <nav class="gameheadertimerdown-top-nav">
    <div class="gameheadertimerdown-nav-left">
      <a href="settings.html" class="gameheadertimerdown-button">Give Up</a>
      <a href="#" id="endEarlyBtn" onclick="endEarly()" class="gameheadertimerdown-button">End Early</a>

      <!-- Mobile version of Pause button -->
      <a href="#" id="pauseBtn-timer-mobile" onclick="togglePause()" class="gameheadertimerdown-button pause-mobile">Pause</a>
    </div>

    <!-- Desktop version of Pause button -->
    <div class="gameheadertimerdown-nav-center">
      <button id="gameheadertimerdown-pauseButton" onclick="togglePause()">
  <span id="pauseBtnLabel">Pause</span>
</button>
    </div>

    <div class="gameheadertimerdown-nav-right">
      <div id="gameheadertimerdown-remainingTimer">
        <span class="gameheadertimerdown-timer-label">Time Left:</span>
        <span id="gameheadertimerdown-timer">00</span>
      </div>
    </div>
  </nav>
</header>