<header class="top-hud">
  <nav class="top-nav">
    <div class="nav-left">
      <a href="settings.html" class="button">Give Up</a>
      <a href="#" onclick="endEarly()" class="button">End Early</a>
    </div>
    <div class="nav-center">
      <a href="#" id="pauseButton" class="button" onclick="togglePause()">Pause</a>
    </div>
    <div class="nav-right">
      <div id="remainingTimer">
        <span class="timer-label">Time Left:</span>
  			<span id="timer">00</span>
			</div>
    </div>
  </nav>
</header>